<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.ejemplos.baseconverter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="apps.ejemplos.baseconverter.Contactanos"></activity>
        <activity android:name="apps.ejemplos.baseconverter.Soporte" />
        <activity android:name="apps.ejemplos.baseconverter.Precisiones" />
        <activity android:name="apps.ejemplos.baseconverter.operaciones" />
        <activity android:name="apps.ejemplos.baseconverter.Conversiones" />
        <activity android:name="apps.ejemplos.baseconverter.MainActivity" />
        <activity android:name="apps.ejemplos.baseconverter.intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>